* {
  margin: 0;
  padding: 0;
}
.main__page {
  position: relative;
  z-index: 1;

  background: #0f2027; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("/assets/art.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.example-spacer {
  display: none;
}
.main__toolbar {
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  background-color: rgba(2, 2, 2, 0.089);
  // background-color: transparent;
  height: 3rem;
  color: white;

  .vertical__buttons {
    flex-direction: column;
    position: absolute;
    top: 3rem;
    background-color: rgba(2, 2, 2, 0.089);

    width: 100%;
    transition: all 1s ease-in;

    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(10px);
      filter: blur(10px);
      z-index: -1;
    }
  }

  .toggle__button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;

    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: transparent;
    gap: 2px;

    border-radius: 2px;

    overflow: hidden;

    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
    }

    .bar1 {
      position: absolute;
      top: 0;
    }
    .bar2 {
      position: absolute;
      top: 50%;
      transform: translate(0, -100%);
    }
    .bar3 {
      position: absolute;
      top: 100%;
      transform: translate(0, -100%);
    }
  }

  .buttons {
    margin: 0 0.5rem 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.226);
    display: none;
  }
}
@media only screen and (max-width: 50em) {
  .main__toolbar {
    display: flex;
    justify-content: center;
  }
  .vertical__buttons {
    display: flex;
  }
}
@media only screen and (min-width: 50em) {
  .main__toolbar {
    padding-left: 10rem;
    padding-right: 5rem;

    .toggle__button {
      display: none;
    }
    .buttons {
      display: unset;
    }

    .vertical__buttons {
      display: none;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
    display: unset;
  }
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;

  padding: 1rem;

  .main__heading {
    display: grid;
    place-content: center;
    padding: 5rem 3rem 5rem 3rem;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

    h1 {
      font-stretch: expanded;
      line-height: 2rem;
      font-size: 2rem;
      font-weight: 800;
      font-family: "Orbitron", sans-serif;
      color: white;
      text-shadow: 0.3rem 0.3rem 1rem rgba(75, 35, 35, 0.808);
    }
  }
  .main__picture {
    border-radius: 2em;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
    position: relative;

    padding: 10rem 8rem 10rem 8rem;

    margin: 1rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(20, 20, 20, 0.582) url("/assets/stock__market.png");
      background-repeat: no-repeat;
      background-position: center;
      background-clip: border-box;
      border-radius: 2em;
      box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.26);
    }
  }
}

@media only screen and (min-width: 70em) {
  .main__section {
    flex-direction: row;
    height: calc(100vh - 3rem);
    gap: 5rem;

    .main__heading {
      padding: 5rem 5rem 5rem 10rem;
      h1 {
        line-height: 5rem;
        font-size: 5rem;
      }
    }

    .main__picture {
      margin: 0 10rem 0 0;
      padding: 10rem 15rem 10rem 15rem;

      height: 30rem;
    }
  }
}

.logo__name {
  font-weight: 700;
  text-shadow: black 0.2rem 0.2rem 0.5rem;
  font-family: "Orbitron", sans-serif;
  opacity: 1;
  scale: 1;
}
.close {
  display: none;
  transition: all 1s ease;
}
